body {

    background-color: rgb(0, 0, 0);

}
h1{
    color: #edf6f4;
    text-align: center;
    font-family:"Lucida Handwriting", "Courier New", monospace;;
    font-size: 80px;
    padding: 10px;
    
}



svg path{
    fill: rgb(97, 176, 142);
    stroke: rgb(23, 18, 82);
    stroke-width: 0.5;
    
}

svg path:hover{
    fill: #cc7722;
    transition: 0.6s;
    cursor: pointer;
}

svg path:active{
    fill: #cc7722;
}

.container{
    position: relative;
    /* background-color: #edf6f4; */
    width: 100%;
    height: 100%;
}




.card{
    height: 50%;
    width: 80%;
    position:absolute;
    left: 10%;
    right: 10%;
    margin-top: 10%;    
    /* transform-style: preserve-3d;
    transition: all 0.5s ease; */
    background-color: rgb(169, 181, 156);

    border-radius: 2rem;
    

    

    
}

/*card front face and back face*/

/* .front, .back{
    height: 100%;
    width: 100%;

    position: absolute;
    backface-visibility: hidden;

}

.front{
    background-color: #7364ad;
}

.back{
    
    background-color: #f5f5f7;
    transform: rotateY(180deg);
    
} */
